OPENLDAP_CERTS=/opt/openldap/certs
KEYSTORE_PATH=/opt/nexus/etc/ssl/keystore.jks
CERT_ROOT_PATH={{ hostvars[groups[inventory_group_name] | first].nexus.tls.root }}
CERT_DOMAIN={{ hostvars[groups[inventory_group_name] | first].nexus.tls.domain }}
